* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

main {
    margin: 0;
    padding: 0;
}

nav {
    margin-bottom: 100px;
}

.container {
    margin: auto;
    padding: 0;
}

.container div {
    margin: auto;
    padding: 0;
}

/* canvas {
    height: 400px !important;
    width: 800px !important;
} */